
@import url('https://fonts.googleapis.com/css?family=Raleway');


body {
	background: black;
	font-family: Raleway;
	letter-spacing: 2px;
}

#RememberMe {
	/*display:inline;
	margin-left:100px;*/
}


#loginForm {
margin-top:100px;
}

#loginForm input {
	margin-top:10px;
	font-size: 11px;
	/*text-transform: uppercase;*/
	font-weight: 600;
	background-color: #f2f2f2;
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
}


#login {
	background: #03c4eb;
	border: none;
	display: inline-block;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	padding: 15px 23px 15px 23px;
	font-weight: 600;
	font-size: 13px;
}


.border {
	border-right: 1px solid black;
}

.modal-dialog {
	width: 80%;
}

.fg a {
	color: #03c4eb;
	text-decoration:none;
}

.fg a:hover {
	color:white;	
}

/*.form-group .field-validation-error {
	margin-top:25px !important;
}*/