
@import url('https://fonts.googleapis.com/css?family=Raleway');


body, #registerForm, #forgotpass {
	color: #03c4eb;
	background: black;
	font-family: Raleway;
	letter-spacing: 2px;
}

#loginForm {
margin-top:100px;
/*text-align:center;
margin:auto;*/
}

#loginForm input, #registerForm input{
	margin-top:10px;
	font-size: 11px;
	/*text-transform: uppercase;*/
	font-weight: 600;
	background-color: #f2f2f2;
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
}


#login, #register {
	background: #03c4eb;
	border: none;
	display: inline-block;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	padding: 15px 23px 15px 23px;
	font-weight: 600;
	font-size: 13px;
}


.border {
	border-right: 1px solid black;
}

.modal-dialog {
	width: 80%;
}

.fg label {
	text-transform:none !important;
	text-align:center;
}

.fg a {
	color: #03c4eb;
	text-decoration: none;
	text-align: center;
}

.fg a:hover {
	color:white;	
}

#registerForm label {
	color: #03c4eb;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 300;
}

/*#forgotpass .form-group label {
	color: #03c4eb !important;
	font-size: 15px;
}*/


.panel-primary {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 8px 8px rgba(0,0,0,0.22);
	border: none;
	margin: 50px;
}

