body {
	background: #f8f9f9;
	font-family: 'Raleway', 'Open Sans';
	letter-spacing: 2px;
}

.logo {
	margin: 5px;
	width: 100px;
}


.event input {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 50;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	background-color: #f2f2f2;
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
}

.event textarea {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	background-color: #f2f2f2;
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
}

.event button {
	background: #03c4eb;
	border: none;
	display: inline-block;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	padding: 15px 23px 15px 23px;
	font-weight: 600;
	font-size: 13px;
}

th {
	/*font-family: 'Helvetica';*/
	background: #03c4eb;
	color: white;
	/*text-align: center;*/
	text-transform: uppercase;
	/*font-weight: 800;*/
}

td {
	/*font-family: 'Helvetica';*/
	/*font-size: 15px;*/
	color: black;
	/*text-align:center;*/
	/*font-weight: 600;*/
}


.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
	border-color: #03c4eb;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	border-bottom: 1px solid #03c4eb;
}

label {
	text-transform: uppercase;
	font-weight:300;

}

.navbar-inverse .navbar-nav > li > a {
	color: #03c4eb;
	font-size: 12px;
	letter-spacing: 3px;
	font-weight: 600;
	text-transform: uppercase;
}

.table>tbody>tr>td>a {
	margin:2px;
	border-radius:0px;

}




.details {
	margin-top: 100px;
}

	.details input, .details select {
		margin-top: 25px;
		margin-bottom: 25px;
		padding: 10px;
		padding-top: 15px;
		padding-bottom:15px;
		line-height: 50;
		font-size: 15px;
		/*text-transform: uppercase;*/
		font-weight: 600;
		background-color: #f2f2f2;
		border-bottom: 1px solid #fff;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
		-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
		-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
		-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	}

	.details button {
		background: #03c4eb;
		border: none;
		display: inline-block;
		color: #FFFFFF;
		letter-spacing: 1px;
		text-transform: uppercase;
		line-height: 1;
		text-align: center;
		padding: 15px 23px 15px 23px;
		font-weight: 600;
		font-size: 13px;
	}






/*profile*/

#profile {
	margin-top:50px;
	background: #03c4eb;
	color: white;
}

	#profile .name {
		letter-spacing: 3px;
		font-weight: 800;
	}

	#profile img {
		margin-top: 30px;
		margin-bottom: 10px;
	}

.info h3, .info h4 {
	display: inline;
}

	.info h4:after {
		content: ' ';
		margin: 15px;
		display: block;
	}




#addinfo h2 {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 800;
}

.underline {
	margin-top: 20px;
	border-bottom: 3px solid white;
	padding-bottom: 7px;
}

.underline2 {
	margin-top: 20px;
	border-bottom: 3px solid black;
	padding-bottom: 7px;
}


.custombtn {
	border: 1px solid white;
	background: transparent;
	padding: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 5px;
	margin-bottom: 15px;
}

/* datatables*/

table.dataTable tbody tr {
background-color:transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	linear-gradient(to bottom, #03c4eb 0%, #03c4eb 100%)
}

table.dataTable.no-footer {
	border-bottom:none;
}