body {
	background:black;
}


.eventlist {
	background: #03c4eb;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: #03c4eb;
	background-color: black;
	border-bottom: 5px solid white;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
}

.nav-tabs > li > a:hover {
	border-color: none;
}

.nav-tabs > li > a {
	border: none;
}

.nav > li > a:focus, .nav > li > a:hover {
	text-decoration: none;
	background-color: black;
}

.nav li {
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 5px;
}

.nav > ul > li > a {
	float: none;
	margin: 0 auto;
}

.nav-tabs {
	border-bottom: none;
}


.panel-primary {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 8px 8px rgba(0,0,0,0.22);
	border: none;
}

.event-tags p {
	display: inline;
}



a, a:hover {
	text-decoration: none;
}


.eventlist {
	letter-spacing:0px;

}
