@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br /><br /><br /><br />
<div id="profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" align="center">
                <img src="@Url.Content("~/Content/img/default.png")" width="300" class="img-responsive" />

                <form action="attendeeList.html">
                    <button class="custombtn">Go Back</button>
                </form>
            </div>
            <div class="col-lg-offset-1 col-lg-6">

                <h1 class="name underline">Joseph Manalo (Explorer)</h1>

                <h3 class="address"><i class="fa fa-home"></i>  449 Niog Street Talaba I Bacoor, Cavite</h3>

                <h3 class="email"><i class="fa fa-envelope"></i> josephmanalo21777@gmail.com</h3>

                <h3 class="mobileno"><i class="fa fa-phone"></i> 0905 148 4406</h3>

                <div class="info">
                    <h3><b>Age:</b> </h3>
                    <h4>17 years old</h4>

                    <h3><b>Birthdate:</b> </h3>
                    <h4>June 7, 1997</h4>

                    <h3><b>Gender: </b> </h3>
                    <h4>Male</h4>
                </div>
                <!-- <i class="fa fa-facebook fa-2x"></i>
                <i class="fa fa-twitter fa-2x"></i>
                <i class="fa fa-linkedin fa-2x"></i> -->
            </div>
        </div>
    </div>
</div>

<br>

<div id="addinfo">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-11">
                <h2 class="underline2">Additional Information</h2>
                <div class="col-lg-6">
                    <h3><b>Company/Organization:</b>  </h3><h4>De La Salle - College of Saint Benilde</h4>
                    <h3><b>Job Title:</b> </h3> <h4>Student</h4>
                    <h3><b>Work Address:</b> </h3> <h4>2544 Taft Ave, Malate, Manila, 1004 Metro Manila</h4>
                </div>
                <div class="col-lg-6">
                    <h3><b>Blog:</b> </h3> <h4><a href="#">www.myblog.ph</a></h4>
                    <h3><b>Website:</b> </h3> <h4><a href="#">www.jbsm.com</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>