@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}


<div class="head" align="center">

    <div class="container">
        <div class="row">
            <br>
            <img src="@Url.Content("~/Content/img/default.png")" width="300" class="img-responsive" alt="Image" />
            <br>
            <div class="col-lg-offset-4">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">UPCOMING EVENTS</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">PAST EVENTS</a></li>
                </ul>
            </div>

        </div>
    </div>

</div>

    <div class="eventlist">

        <div class="container">
            <div class="row">
                <br><br><br><br>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">

                        <div class="panel panel-primary">
                            <a href="#">
                                <div class="panel-body">
                                    <div class="row">
                                        <!--    col-sm-8  -->
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <img src="assets/img/rise.png" class="img-responsive" />
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 event-details">
                                            <h3 class="event-title">
                                                RISE 2017: Reaching Innovative
                                                Solutions with Excellence
                                            </h3>
                                            <h4 class="event-date">THU, May 25 4:00 PM</h4>
                                            <h5 class="event-location">Penbrothers, Makati</h5>
                                            <p class="event-price">FREE</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="event-tags">
                                        <p>#TaraNa</p>
                                        <p>#SaliKaNa</p>
                                        <p>#RiseUp</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">

                        <div class="panel panel-primary">
                            <a href="#">
                                <div class="panel-body">
                                    <div class="row">
                                        <!--    col-sm-8  -->
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <!-- <img src="assets/img/rise.png" class="img-responsive"/> -->
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 event-details">
                                            <h3 class="event-title">
                                                RISE 2017: Reaching Innovative
                                                Solutions with Excellence
                                            </h3>
                                            <h4 class="event-date">THU, May 25 4:00 PM</h4>
                                            <h5 class="event-location">Penbrothers, Makati</h5>
                                            <p class="event-price">FREE</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="event-tags">
                                        <p>#TaraNa</p>
                                        <p>#SaliKaNa</p>
                                        <p>#RiseUp</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
